.about {
  padding: 6.4rem 0 9.6rem 0;
}

.about-gap {
  column-gap: 3.6rem;
}

.mission-text {
  padding: 0 3.6rem 0 3.6rem;
}

.teamwork {
  width: 100%;
}

.mission {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1.4rem;
}

.target {
  font-size: 2.8rem;
  color: #fea44c;
}

.m-text {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #367bf0;
}

.m-desc {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 3.4rem;
}
