.error {
  height: 100vh;
  width: 100%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    248deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(0, 255, 239, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 3.6rem;
}

.not-found {
  padding: 0 40.6rem 7.6rem 38.6rem;
  max-width: 130rem;
  background-color: #fff;
  margin: auto auto;
}

.error-code {
  font-size: 28rem;
  font-family: 700;
  background-image: linear-gradient(
    248deg,
    rgba(238, 174, 202, 1),
    rgba(255, 0, 0, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.error-text {
  text-transform: uppercase;
  font-size: 3.8rem;
  text-align: center;
}

.sarcasm {
  font-size: 1.6rem;
  text-align: justify;
}

.mail-us:link,
.mail-us:visited {
  text-decoration: none;
  color: #367bf0;
}
