.block-mobile {
  max-width: max-content;
}

.block-image {
  width: 100%;
  margin-bottom: 3.6rem;
}

.reason {
  font-size: 1.6rem;
  color: #000;
}

.support-channel:link,
.support-channel:visited {
  font-size: 1.2rem;
  text-decoration: none;
  color: #367bf0;
  border-bottom: #367bf0 0.2rem solid;
}
